.BList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-direction: column-reverse; */
    margin: 30px;
    margin-left: 290px;
   
  }

  button {
    color: rgb(15, 15, 15);
    border: none;
    font-size: medium;
    padding: 5px 20px;
    cursor: pointer;
    background-color: rgba(213, 240, 37, 0.64);
    margin-top: 10px;
    align-content: center;
    border-radius: 5%;
  }
  .card {
    margin: 40px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(44, 168, 173, 0.888);
    padding: 1rem;
    font-size: large;
    width: 170px;
    height: 6cm;
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(28, 27, 27, 0.9);
    border-radius: 5%;
  }

  .card:hover{
    transform: scale(1.1);
  }
  .id{
    /* background-color: rgba(231, 227, 0, 0.61); */
    width: 90px;
    text-align: center;
    border-radius: 5%;
    margin-bottom: 20px;
    color: black;
  }
  .total{
    margin-left: 300px;
  }
  .booklist{
    background-color:  rgba(174, 212, 162, 0.938);
  }
  .total h1{
    margin: 0px;
    padding: 10px;
  }